body {
  background-color: black;
}

label {
  color: white;
  margin: 0.5rem;
}
.chess_board {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  width: 100vw;
}

.chess_row {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  flex-shrink: 0;
  justify-content: center;
}
.chess_cell {
  flex-basis: 5rem;
  height: 5rem;
  flex-shrink: 0;
  font-size: xx-small;
  background: white;
}
.chess_cell.odd:nth-of-type(2n),
.chess_cell.even:nth-of-type(2n + 1) {
  background: grey
}

.player1 {
 border: 3px seashell;
 height: 50px;
 line-height: 50px;
 width: 50px;
 padding: 5px 0;
 display: block;
 margin-top: 5px;
 margin-bottom: 5px;
 margin-left: auto;
 margin-right: auto;
 justify-content: center;
}

.player2 {
 border: 3px seashell;
 height: 50px;
 line-height: 50px;
 width: 50px;
 padding: 5px 0;
 display: block;
 margin-top: 5px;
 margin-bottom: 5px;
 margin-left: auto;
 margin-right: auto;
 justify-content: center;
}

form {
display: block;
 margin-left: auto;
 margin-right: auto;
}